@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

body, body *, h1, h2, h3, h4, h5, h6 {
    font-weight: 350;
    /* border: 1px dashed; */
}

body, body *, h1, h2, h3, h4, h5, h6, div, img, label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  user-drag: none; 
  -webkit-user-drag: none;
}

.row div {
  padding: 0%;
  margin: 0%;
}

/* CABEÇALHO */

.row:nth-child(1):not(.row_ini) {
  background-color: white;
  padding: 4%;
  width: 100%;
  position: fixed;
  z-index: 1;
  border-bottom: 5px solid firebrick;
}

.row:nth-child(1) div img{
  width: 50%;
  display: none;
}

/* --- */

/* INÍCIO */

.row:nth-child(2):not(.row_two) {
  background-color: rgb(139, 0, 0, 0.2);
  padding: 25% 4% 4% 4%;
  margin-top: 0%;
  border-bottom: 5px solid firebrick;
}

.row:nth-child(2) .col-5:not(.second_child) img {
  width: 100%;
  padding: 25% 0% 0% 20%;
  margin: 0%;
  display: none;
}

.row:nth-child(2) .second_child {
  padding: 0% 0% 0% 0%;
  margin: 0%;
}

.row:nth-child(2) .second_child img {
  width: 120%;
  padding: 10% 0% 0% 0%;
  margin: 0% -10% -17% -10%;
  display: none;
}

.row:nth-child(2) h4 {
  line-height: 1.5em;
  padding: 10% 5% 10% 0%;
}

.row:nth-child(2) h1 {
  
  font-weight: 350;
  text-shadow: 1.5px 1.5px #8B0000;
}

/* --- */

.row:nth-child(3) {
  background-color: lightgray;
  padding: 15% 10%;
}

.row:nth-child(3) h4 {
  line-height: 1.5em;
  padding: 0% 0% 0% 0%;
  margin: 0%;
}

.row:nth-child(3) h1 {
  font-weight: 350;
  text-shadow: 1.5px 1.5px #8B0000;
  margin-bottom: 10%;
}

form * {
  margin: 0%;
  padding: 0%;
}

.row:nth-child(3) form .row {
  padding: 0%;
  margin: 0%;
}

.row:nth-child(3) form .row label:not(.label_ini){
  padding: 10% 0% 7% 0%;
  margin: 0%;

}

.row:nth-child(3) form .row input{
  padding: 7% 5%;
  font-size: 27px;
  font-weight: 350;
  border-radius: 0%;
  border: 0.3px solid lightgray;
}

.row:nth-child(3) form .row select {
  padding: 2%;
  font-size: 27px;
  font-weight: 350;
  border-radius: 0%;
  border: 0.3px solid lightgray;
  border-left: none;
}

.row:nth-child(3) form .row input[type=date] {
  padding: 2% 4%;
  font-size: 27px;
  font-weight: 350;
  border-radius: 0%;
  border: 0.3px solid lightgray;
  border-left: none;
}

.row:nth-child(3) form .row .label_ini{
  padding: 0% 0% 7% 0%;
  margin: 0%;
  
}

.row:nth-child(3) form {
  width: 100%;
  margin-top: 10%;
}

.row:nth-child(3) form h4 {
  padding: 0%;
  margin: 0%;
}

.row:nth-child(3) form .row_last {
  margin-top: 10%;
}

.row:nth-child(3) form .row .btn-light {
  font-size: 25px;
  line-height: 2em;
  height: 120px;
  font-weight: 350;
  margin: 0%;
  border-radius: 0%;
}

.row:nth-child(3) form .row .btn i {
  padding: 0% 2% 0% 0%;
  margin: 0%;
}

.row:nth-child(3) form .row .btn-primary {
  font-size: 35px;
  padding: 10% 0%;
  height: 110px;
  background-color: darkred;
}

#foto {
  display: none;
}

.alerta {
  color: black;
  margin: 0%;
  padding: 2.5% 0% 0% 0%;
  display: none;
  line-height: 1.5em;
  word-wrap: break-word;
}

.alerta i {
  color: black;
  padding-right: 2%;
}

.alerta a {
  color: gold;
  font-style: italic;
  text-decoration: none;
}

.row:nth-child(4):not(.lb) {
  background-color: whitesmoke;
  padding: 15% 10%;
  border-bottom: 5px solid firebrick;
  border-top: 5px solid firebrick;
}

.row:nth-child(4) h4 {
  line-height: 1.5em;
  padding: 0% 0% 0% 0%;
  margin: 0%;
}

.row:nth-child(4) h1 {
  margin-bottom: 10%;
  font-weight: 350;
  text-shadow: 1.5px 1.5px #8B0000;
}

.row:nth-child(5):not(.lb) {
  background-color: lightgray;
  padding: 5% 5%;
  
}

.row:nth-child(5) h4 {
  line-height: 1.5em;
  padding: 0% 0% 0% 0%;
  margin: 0%;
}

.row:nth-child(5) h1 {
  margin-bottom: 10%;
  font-weight: 300;
}

.row:nth-child(5) img {
  padding: 5% 3%;
  border-radius: 50%;
  margin: 0%;
  width: 100%;
}

.row:nth-child(5) .col-8 {
  padding: 5% 3%;
}

.row:nth-child(5) .col-8 {
  line-height: 1.5em;
}

.row:nth-child(5) .col-8 h6 {
  line-height: 1.5em;
  font-size: 13px;
}

.row:nth-child(5) .col-8 h5 {
  font-weight: 400;
}


.row:nth-child(5) img:hover {
  opacity: 0.7;
}

#usersNull {
  padding: 5%;
  line-height: 1.5em;
  text-align: center;
}

#footer {
  border-top: 5px solid firebrick;
  padding: 4% 8%;
}